{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block content %}

<div  class="section">
    <div id="schema">
        <div class="title">Database Schema</div>
        {% for table, columns in data.items() %}
            <div class="table-name">
                {{ table }}
            </div>
            <table>
                <thead>
                    <tr>
                        {% for column in columns %}
                        <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
        {% endfor %}
    </div>

    <div id="divider"></div>

    <div id="terminal">
        <form action="#" method="post">
            <textarea name="code" id="code" placeholder="Enter your code here..."></textarea>
            <button type="submit">Run Code</button>
        </form>
    </div>
</div>

{% endblock %}