<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <!--Contains table info and code terminal-->
    <div class="content">{% block content %}{% endblock %}</div>

    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>

</html>