{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="section">
    <div class="topic" id="schema">
        <div class="title">Database Schema</div>
        {% for table, values in data['tables'].items() %}
            <div class="table-name">
                {{ table }}
            </div>
            <table class="schema-table">
                <thead>
                    <tr>
                        {% for value in values['column_name'] %}
                            <th>{{ value }}</th>
                        {% endfor %}
                    </tr>
                </thead>
            </table>
        {% endfor %}
    </div>

    <div class="topic" id="terminal">
        <form action="{{ url_for('main.index') }}" method="post">
            <textarea 
                name="code" id="code" placeholder="{{ 'Enter SQL query here...' if not data.get('query') }}">{{ data['query'] if data.get('query') }}</textarea>
            <button type="submit">Run Code</button>
        </form>
    </div>
</div>

<div class="response">
    {% if data['data'] and data['column_name'] %}
        <div class="title">Query Output</div>
        <div class="table-section">
            <table class="data-table">
                <thead>
                    <tr>
                        <!-- Column names -->
                        {% for key in data['column_name'] %}
                            <th>{{ key }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!-- List of tuple data -->
                    {% for values in data['data'] %}
                        <tr>
                            <!-- Tuple data -->
                            {% for value in values %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% elif data['error'] %}
        <div class="error">
            {{ data['error'] }}
        </div>
    {% endif %}
</div>

{% endblock %}